.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialog a {
  color: ghostwhite;
  text-decoration: none;
}

.dialog .active {
  color: goldenrod;
}

.messages {
  color: ghostwhite;
  padding: 10px;
}
